@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Warna foreground diubah menjadi putih untuk membuatnya lebih terang */
  --background-start-rgb: 255, 255, 255; /* Warna background awal diubah menjadi putih untuk membuatnya lebih terang */
  --background-end-rgb: 255, 255, 255; /* Warna background akhir diubah menjadi putih untuk membuatnya lebih terang */
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Warna foreground diubah menjadi putih untuk membuatnya lebih terang */
    --background-start-rgb: 255, 255, 255; /* Warna background awal diubah menjadi putih untuk membuatnya lebih terang */
    --background-end-rgb: 255, 255, 255; /* Warna background akhir diubah menjadi putih untuk membuatnya lebih terang */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
